@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/News.js")" type="text/javascript"></script>
}
<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>

<div class="lin_table_div">
    <table class="table table-bordered table-hover table-condensed lin_table">
        <tbody>
            <tr>
                <td id="lin_table_td" class="lin_table_td"></td>
            </tr>
        </tbody>
    </table>
</div>
    <p class="lin_jumbotron_p">排序方式：<a>时间</a> <a>阅读数</a> <a>评论数</a></p>
    <newslist>
        <div id="news" class="jumbotron lin_jumbotron">
            <p class="title"></p>
            <p class="lead lin_lead text"></p>
            <p class="lin_jumbotron_p authorandtime">
                <span class="lin_jumbotron_span author"></span>
                <span class="lin_jumbotron_span time"></span>
                <span class="lin_jumbotron_span">    </span>
                <span class="glyphicon glyphicon-eye-open lin_jumbotron_span">5</span>
                <span class="glyphicon glyphicon-thumbs-up lin_jumbotron_span">12</span>
            </p>
        </div>
    </newslist>
    <hr />

